{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruksi Eksperimen
{% endblock %}

{% block content %}

<br>
<br>
<h4><b>2. Contoh Sebuah Ronde</b></h4>

Anda akan menghadapi layar sebagai berikut di sebuah ronde yang Anda mainkan—asumsikan ronde yang muncul terkait dengan aktivitas kognitif.

<br>
<br>
AKAN ADA GAMBAR
<br>
<br>
    Selesaikan 10 soal di bawah ini. Tulis jawaban Anda dalam 2 angka desimal. Anda dibolehkan menggunakan alat seperti kalkulator untuk membantu Anda.
<br>
<br>
    AKAN ADA GAMBAR
<br>
<br>
    Anda harus menekan tombol ‘KONFIRMASI’ (yang akan aktif setelah 15 detik dari pertama kali Anda masuk ke ronde ini) untuk dapat masuk ke halaman berikutnya.
    Poin yang Anda dapatkan dari ronde ini akan diinformasikan di halaman berikutnya.
<br>
<br>
<br>Tekan tombol 'Lanjut' jika Anda sudah memahami instruksi di atas.</br>
<br>
<br>
    <button id="Lanjut"  class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>



{% endblock %}
