{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Please add the numbers
{% endblock %}

{% block content %}
    Selesaikan 10 soal di bawah ini. Tulis jawaban Anda dalam 2 angka desimal. Anda dibolehkan menggunakan alat seperti kalkulator untuk membantu Anda.
    <br>
    <br>
    {{ question }}
    {{ form.number_entered1 }}
    <br>
    <br>
Anda harus menekan tombol ‘KONFIRMASI’ untuk dapat masuk ke halaman berikutnya.
    Poin yang Anda dapatkan dari ronde ini akan diinformasikan di halaman berikutnya.
    <br>
    <br>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Konfirmasi</button>

{% endblock %}