{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Hasil
{% endblock %}

{% block content %}
    {% if combined_payoff == 10 %}
    Anda berhasil menjawab 10 soal dengan benar maka Anda mendapatkan {{ combined_payoff }} poin.
        {% else %}
        Anda tidak berhasil menjawab 10 soal dengan benar maka Anda mendapatkan 0 poin
    {% endif %}
    <br>
    <br>
    Tekan tombol ‘LANJUT’ untuk menuju ke ronde selanjutnya.
    <br>
    <br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>
{% endblock %}


